#listaResultado{
    display:none;
}

#resultado{
    display: none;
}

.item-list{
    width: 16rem;
    margin: 2rem;
    display: inline-table !important;
}

.item-list:hover{
    cursor: pointer;
}

.search-field{
    margin: 1rem auto;
}

.resultado{
    display: flex;
}

.coluna_resultado{
    display: flex;
}

.youtube{
    background: #915;
}

.media{
    margin: 1rem;
}

.img_media{
    margin: 0.3rem;
    border-radius: 50%;
}

.omdbPoster{
    width: 100%;
    align-self: center;
    margin: auto;
}
